/* src/pages/About/About.css */
.about {
    background-image: url('/public/Mesh_gradient.png'); /* Задний фон */
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    padding: 42px 0px 0 0; /* Отступы для всей страницы */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; /* Пространство между элементами */
}

.title-about {
  margin: 35px auto;
  text-shadow: 10px 5px 25px #0000005e;
}

.cart{
  display: flex;
  align-items: center;
  background: #efefef;
  border-radius: 30px;
  width: 590px;
  height: 283px
}

.total-flex{
  display: flex;
  gap: 20px;
  border-radius: 30px;
}

.surname{
  font-family: 'Unbounded';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-shadow: 4px 2px 9px #0000000f;
}
 
.surname1{
  color: #DAB6E3;
}

.surname2{
  color: #F1D298;
}

.surname3{
  color: #68DA9E;
}

.surname4{
  color: #5970AB;
}

.text-cart {
  padding: 0 20px; /* Отступы внутри контейнера */
  border-radius: 8px; /* Закругление углов */
  width: 307px; /* Установка максимальной ширины */
  margin: 0 auto; /* Центрирование контейнера на странице */
}
.linee {
  display: block; 
  margin: 10px auto; 
  width: 90%; 
  border-top: 0.5px solid #000; 
  content: '';
}

.skilz{
  font-family: 'Unbounded';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #000000;
  margin: 10px 0;
}

.number{
  text-align: center;
}

.social-icons {
  display: flex; 
  justify-content: center; 
  margin-top: 10px;
}

.social-icons a {
  margin: 0 10px 0 0;
  font-size: 24px;
  text-shadow: 4px 2px 9px #0000000f;
}

.fa-vk{
  color: #0077FF;
}

.fa-telegram{
  color: #2AABEE;
}

.fa-envelope{
  color: 	#ff5d5d;
}

.linee{
  color:#000000
}